<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="fm_base_transmission">

    <transmission name="base_x_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="base_x_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="base_x_joint">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <transmission name="base_y_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="base_y_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="base_y_joint">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <transmission name="base_z_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="base_z_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="base_z_joint">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <transmission name="base_roll_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="base_roll_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="base_roll_joint">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <transmission name="base_pitch_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="base_pitch_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="base_pitch_joint">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <transmission name="base_yaw_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="base_yaw_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="base_yaw_joint">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

  </xacro:macro>
</robot>
