<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="fm_base_gazebo">

    <gazebo reference="base_x">
      <gravity>0</gravity>
      <maxVel>-1</maxVel>
      <minDepth>0</minDepth>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000000.0</kp>
      <kd>100000000.0</kd>
      <selfCollide>0</selfCollide>
    </gazebo>

    <gazebo reference="base_y">
      <gravity>0</gravity>
      <maxVel>-1</maxVel>
      <minDepth>0</minDepth>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000000.0</kp>
      <kd>100000000.0</kd>
      <selfCollide>0</selfCollide>
    </gazebo>

    <gazebo reference="base_z">
      <gravity>0</gravity>
      <maxVel>-1</maxVel>
      <minDepth>0</minDepth>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000000.0</kp>
      <kd>100000000.0</kd>
      <selfCollide>0</selfCollide>
    </gazebo>

    <gazebo reference="base_roll">
      <gravity>0</gravity>
      <maxVel>-1</maxVel>
      <minDepth>0</minDepth>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000000.0</kp>
      <kd>100000000.0</kd>
      <selfCollide>0</selfCollide>
    </gazebo>

    <gazebo reference="base_pitch">
      <gravity>0</gravity>
      <maxVel>-1</maxVel>
      <minDepth>0</minDepth>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000000.0</kp>
      <kd>100000000.0</kd>
      <selfCollide>0</selfCollide>
    </gazebo>

    <gazebo reference="base_yaw">
      <gravity>0</gravity>
      <maxVel>-1</maxVel>
      <minDepth>0</minDepth>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000000.0</kp>
      <kd>100000000.0</kd>
      <selfCollide>0</selfCollide>
    </gazebo>

    <gazebo reference="base_link">
      <gravity>1</gravity>
      <maxVel>-1</maxVel>
      <minDepth>0</minDepth>
      <mu1>0</mu1>
      <mu2>0</mu2>
      <kp>10000000000.0</kp>
      <kd>100000000.0</kd>
      <selfCollide>0</selfCollide>
    </gazebo>

  </xacro:macro>
</robot>
