<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

<!--
  <xacro:include filename="$(find ahl_fm_description)/urdf/base/base.property.xacro"/>
  <xacro:include filename="$(find ahl_fm_description)/urdf/base/base.gazebo.xacro"/>
  <xacro:include filename="$(find ahl_fm_description)/urdf/base/base.transmission.xacro"/>
-->
  <xacro:macro name="fm_base">

    <link name="world"/>

    <joint name="world_joint" type="fixed">
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="base_x"/>
    </joint>

    <link name="base_x">

    </link>

    <xacro:fm_base_gazebo/>
    <xacro:fm_base_transmission/>
  </xacro>
</robot>
