<launch>
  <node pkg="ahl_youbot_server" type="ahl_youbot_server" name="gazebo_ahl_youbot_server" output="screen">
    <param name="robot/real" value="false"/>
    <param name="robot/name" value="youbot"/>
    <param name="robot/mnp_name" value="mnp"/>
    <param name="robot/period" value="0.1"/>
    <param name="robot/servo_period" value="0.01"/>
    <param name="robot/yaml" value="$(find ahl_youbot_server)/yaml/youbot.yaml"/>
  </node>
</launch>
