<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="pr2">

  <xacro:include filename="$(find ahl_fm_description)/urdf/base/base.urdf"/>
<!--
  <xacro:include filename="$(find ahl_fm_description)/urdf/arm/arm.urdf"/>
  <xacro:include filename="$(find ahl_fm_description)/urdf/gripper/gripper.urdf"/>
  <xacro:include filename="$(find ahl_fm_description)/urdf/controller/ros_controller.urdf"/>
-->
  <xacro:fm_base/>
<!--
  <xacro:fm_arm/>
  <xacro:fm_gripper/>
  <xacro:fm_head/>
-->
</robot>
