<launch>
  <node pkg="ahl_robot_controller" type="ahl_robot_controller_test" name="ahl_youbot" output="screen">
    <param name="robot/model_file" value="$(find ahl_robot_controller)/sdf/model.sdf"/>
    <param name="robot/name" value="youbot"/>
    <param name="robot/frame/base" value="base_footprint"/>
    <param name="robot/operational_point/child/frame" value="operational_point"/>
    <param name="robot/operational_point/parent/frame" value="gripper_palm_link"/>
    <param name="robot/operational_point/parent/x" value="0.0"/>
    <param name="robot/operational_point/parent/y" value="0.0"/>
    <param name="robot/operational_point/parent/z" value="0.0"/>
    <param name="robot/operational_point/parent/roll"  value="0.0"/>
    <param name="robot/operational_point/parent/pitch" value="0.0"/>
    <param name="robot/operational_point/parent/yaw"   value="0.0"/>

    <param name="tf/publish_joint_frames" value="false"/>
    <param name="tf/publish_link_frames" value="true"/>
    <param name="tf/duration" value="0.10"/>
  </node>
</launch>