<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <property name="PI" value="3.1415926535897931"/>

  <property name="shoulder_pan_x" value="0.21"/>
  <property name="shoulder_pan_y" value="0.188"/>
  <property name="shoulder_pan_z" value="0.195"/>
  <xacro:macro name="shoulder_pan_inertial">
    <inertial>
      <mass value="3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </xacro:macro>
  <property name="shoulder_pan_damping" value="1"/>
  <property name="shoulder_pan_friction" value="0"/>
  <property name="shoulder_pan_effort" value="10000"/>
  <property name="shoulder_pan_velocity" value="10000"/>
  <property name="shoulder_pan_upper" value="${M_PI / 2}"/>
  <property name="shoulder_pan_lower" value="${-M_PI / 2}"/>

  <property name="shoulder_lift_x" value="0.1"/>
  <property name="shoulder_lift_y" value="0"/>
  <property name="shoulder_lift_z" value="-0.142"/>
  <xacro:macro name="shoulder_lift_inertial">
    <inertial>
      <mass value="3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </xacro:macro>
  <property name="shoulder_lift_damping" value="1"/>
  <property name="shoulder_lift_friction" value="0"/>
  <property name="shoulder_lift_effort" value="10000"/>
  <property name="shoulder_lift_velocity" value="10000"/>
  <property name="shoulder_lift_upper" value="${M_PI / 2}"/>
  <property name="shoulder_lift_lower" value="${-M_PI / 2}"/>

  <property name="upper_arm_x" value="0.12"/>
  <property name="upper_arm_y" value="0"/>
  <property name="upper_arm_z" value="0"/>
  <xacro:macro name="upper_arm_inertial">
    <inertial>
      <mass value="3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </xacro:macro>
  <property name="upper_arm_damping" value="1"/>
  <property name="upper_arm_friction" value="0"/>
  <property name="upper_arm_effort" value="10000"/>
  <property name="upper_arm_velocity" value="10000"/>
  <property name="upper_arm_upper" value="${M_PI / 2}"/>
  <property name="upper_arm_lower" value="${-M_PI / 2}"/>

  <property name="elbow_x" value="0.28"/>
  <property name="elbow_y" value="0"/>
  <property name="elbow_z" value="0"/>
  <xacro:macro name="elbow_inertial">
    <inertial>
      <mass value="3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </xacro:macro>
  <property name="elbow_damping" value="1"/>
  <property name="elbow_friction" value="0"/>
  <property name="elbow_effort" value="10000"/>
  <property name="elbow_velocity" value="10000"/>
  <property name="elbow_upper" value="${M_PI / 2}"/>
  <property name="elbow_lower" value="${-M_PI / 2}"/>

  <property name="forearm_x" value="0.09"/>
  <property name="forearm_y" value="0"/>
  <property name="forearm_z" value="0"/>
  <xacro:macro name="forearm_inertial">
    <inertial>
      <mass value="3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </xacro:macro>
  <property name="forearm_damping" value="1"/>
  <property name="forearm_friction" value="0"/>
  <property name="forearm_effort" value="10000"/>
  <property name="forearm_velocity" value="10000"/>
  <property name="forearm_upper" value="${M_PI / 2}"/>
  <property name="forearm_lower" value="${-M_PI / 2}"/>

  <property name="wrist_flex_x" value="0.23"/>
  <property name="wrist_flex_y" value="0"/>
  <property name="wrist_flex_z" value="0"/>
  <xacro:macro name="wrist_flex_inertial">
    <inertial>
      <mass value="3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </xacro:macro>
  <property name="wrist_flex_damping" value="1"/>
  <property name="wrist_flex_friction" value="0"/>
  <property name="wrist_flex_effort" value="10000"/>
  <property name="wrist_flex_velocity" value="10000"/>
  <property name="wrist_flex_upper" value="${M_PI / 2}"/>
  <property name="wrist_flex_lower" value="${-M_PI / 2}"/>

  <property name="wrist_roll_x" value="0.03"/>
  <property name="wrist_roll_y" value="0"/>
  <property name="wrist_roll_z" value="0"/>
  <xacro:macro name="wrist_roll_inertial">
    <inertial>
      <mass value="3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </xacro:macro>
  <property name="wrist_roll_damping" value="1"/>
  <property name="wrist_roll_friction" value="0"/>
  <property name="wrist_roll_effort" value="10000"/>
  <property name="wrist_roll_velocity" value="10000"/>
  <property name="wrist_roll_upper" value="${M_PI / 2}"/>
  <property name="wrist_roll_lower" value="${-M_PI / 2}"/>
</robot>
